#navbar { 
    background: green;

}

#banner { 
    background: red;
    height: 17rem; 
} 



#inner-api-div { 
    position: absolute;
    height: 400px;
    width: 350px;
    margin: 20px; 
    background-color: orange;
    top: 120px;
    left: 45rem;
    border-radius: 20px; 
  
    
}
.adjusted-api-div { 
    border: 3px green solid;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.example-api-div { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex-direction: column;
    background: pink;
    height: 30px;
    width: 200px; 
    
}

.example-api { 
    justify-content: center;
    background: white;
    margin-bottom: 20px;
}
#main-content { 
    background: purple;
    height: 100rem;
} 

.reviews { 
  background-color: black;  
  width: 300px;
  height: 300px;
}

